<div class="content">
  <h1>Chatter</h1>
  {{#if session.isAuthenticated }}
  	<form {{action 'post' on='submit'}}>
	  	{{input class= "postBox" type="post" required="true" autofocus="true" placeholder="Create a post." value=post}} 
	  	<br><button type= "submit"> Save your post. </button>
	  	{{#if error}}<div>Error: {{error}}.</div>{{/if}}
  	</form>
  	{{#link-to 'logout'}}Logout{{/link-to}}
	{{else}}
  	{{#link-to 'login'}}Login{{/link-to}}
	{{/if}}
	{{outlet}}
</div>
